/*
    Design for Mobile from the Start
*/

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/montserrat/Montserrat-VariableFont_wght.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
}

header {
    height: 466px;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-bg {
    height: 466px;
    width: 100%;
    background-image: url(/assets/images/background-prepared.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}

header .top-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 40px;
    margin-left: 38px;
    margin-right: 38px;
}

header .top-nav .nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: 20px;
    display: none;
    transition-duration: 2s;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 70%);
    font-weight: 300;
    margin-right: 22px;
}

a:hover {
    text-decoration: none;
    color: white;
    margin-right: 22px;
}

.language-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    z-index: 99;
}

.language-picker .language-icon {
    width: 28px;
    height: 28px;
    margin-right: 3px;
    cursor: pointer;
}

.language-picker .more {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    margin-left: 3px;
    cursor: pointer;
}

.language-picker .more:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(/assets/images/more.png);
    background-position: center;
    background-size: cover;
}

.language-picker .more:checked::before {
    background: url(/assets/images/close.png);
    background-position: center;
    background-size: cover;
}

.language-list {
    display: none;
    position: absolute;
    top: 85px;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    flex-direction: column;
}
.language-list a {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.language-list a:hover {
    background: rgba(0, 0, 0, 0.4);
}

.language-picker .more:checked + .language-list {
    display: flex;
}


header .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
}

header .profile .main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .profile .main-info .profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

header .profile .main-info .profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

header .profile .main-info .profile-info h1 {
    color: #FF6565;
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .profile .main-info .profile-info .username {
    font-size: 20px;
    color: #CFCFCF;
}

header .profile .main-info .profile-info .usertitle {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

header .profile .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

header .profile .contacts .contact {
    font-size: 20px;
    margin: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .profile .contacts .contact .contact-icon {
    width: 32px;
    height: 32px;
}

header .profile .contacts a {
    color: white;
    text-decoration: none;
}

header .profile .contacts .contact label {
    display: none;
    margin-left: 7px;
}

.content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    justify-content: center;
}

.content .project {
    max-width: 277px;
    max-height: 318px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 15px;
}

.content .project h2 {
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.content .project p {
    font-weight: 400;
    font-size: 18px;
    flex: 1;
    margin-top: 0;
    color: #CFCFCF;
}

.content .project .project-tags {
    font-weight: 500;
    font-size: 12px;
    color: #CFCFCF;
    margin-bottom: 9px;
    display: flex;
}

.content .project .project-tags span::after {
    content: ',';
    text-align: left;
    display: inline-block;
    width: 10px;
}
.content .project .project-tags span {
    display: flex;
}

.content .project .project-tags span:last-child::after {
    content: unset;
}

.content .project .links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    margin-right: 5px;
    font-weight: 500;
    font-size: 18px;
}


footer {
    margin-top: 25px;
    margin-left: 32px;
    margin-bottom: 29px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3)
}

.menu-btn {
    width: 28px;
    height: 28px;
    background: url(/assets/images/menu.png);
    background-position: center;
    background-size: cover;
}

#menu_open {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    z-index: 99;
    cursor: pointer;
}

#menu_open:before {
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    background: url(/assets/images/menu.png);
    background-position: center;
    background-size: cover;
}

#menu_open:checked::before {
    background: url(/assets/images/close.png);
    background-position: center;
    background-size: cover;
}

#menu_open:checked + .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 32px;

}

#menu_open:checked + .nav a {
    margin-top: 15px;

}

@media (min-width: 768px) {
    header .profile .main-info {
        flex-direction: row;
    }

    header .profile {
        flex-direction: row;
    }

    header .profile .main-info .profile-image {
        width: 223px;
        height: 223px;
    }

    header .profile .contacts .contact label {
        display: block;
    }

    header .profile .contacts {
        flex-direction: column;
        margin-top: 0;
        margin: 7px;
    }

    
    header .top-nav .nav {
        display: flex;
    }
    
    header .profile .main-info .profile-info h1 {
        font-size: 32px;
    }

    #menu_open {
        display: none;
    }

}



/* Desktop */
@media (min-width: 1120px) {
    .page-wrapper {
        max-width: 1120px;
    }

    .content {
        margin-left: 54px;
    }

}

/* Tablet */
@media (min-width: 844px) {
    .content {
        justify-content: flex-start;
        align-items: stretch;
    }
    .content .project {
        margin-right: 50px;
        margin-bottom: unset;
        max-height: unset;
        height: auto;
    }
    header .profile {
        margin-left: 71px;
        margin-right: 71px;
    }
}

@media (min-height: 844px) and (min-width: 844px) {
    /* html, body, .page-wrapper{
        height: 100%;
    } */

    footer {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 320px){
    .content .project .links a {
        font-size: 20px;
    }

    .content .project {
        padding: 36px;
    }

    .content .project h2 {
        font-size: 24px;
    }

    .content .project p {
        font-size: 20px;
    }

    .content .project .project-tags {
        font-size: 16px;
    }
}