@font-face {
    font-family: 'Intro light inline';
    src: url('/assets/font/IntroDemoCond-LightCAPS.otf') format("opentype");
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    background: rgb(33,33,33);
    background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(66,66,66,1) 100%); 
}

#overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    color:#E0E0E0;
}


.container.second {
    flex: 1;
    justify-content: center;
    padding: 15px;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#E0E0E0;
    /* background: #212121; */
    width: fit-content;
}

.container.main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.pronounce{
    color: #BDBDBD;
    font-size: medium;
}

.container h1{
    margin: 0;
}

.container h2{
    margin: 0;
}

.container h3{
    margin-top: 15px;
}

.container h4{
    margin: 0;
    padding: 0;
}

.backend {
    color: #F8BBD0;
    text-transform: uppercase;
    font-weight: bold;
}
.frontend {
    color: #B3E5FC;
    text-transform: uppercase;
    font-weight: bold;
}

.hire-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}
.nav a {
    margin: 15px;
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    transition-duration: 0.5s;
}
.nav a:visited {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: #EC407A;
    text-decoration: none;
}

.work{
    margin-left: 15px;
    height: 40px;
    display: inline-flex;
    background: #212121;
    border: 1px solid #212121;
    border-radius: 5px;
    overflow: hidden;
    /* top: -3px;
    position: relative; */
}

.work input{
    flex: 1;
    padding: 10px;
    height: calc(100% - 20px);
    width: 150px;
    outline: none;
    border: none;
    text-transform: uppercase;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: #B3E5FC;
}
.work input:disabled{
    background: #212121;
}

.work a{
    display: block;
    padding: 10px;
    height: calc(100% - 20px);
    outline: none;
    border: none;
    background: #212121;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;
    text-decoration: none;
    outline: 2px solid #F8BBD0;
    transition-duration: 1s;
    cursor: pointer;
}

.work a:hover {
    background: #F8BBD0;
}


.swiffy-slider {
    /* margin-top: 50px; */
    overflow: hidden;
}

.card {
    /* margin: 1em; */
    height: 200px;
    /* padding:1em; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

.card .header {
    text-transform: uppercase;
    padding: 0px 15px 0;
}

.card p {
    flex: 1;
    padding: 0px 15px 0;
}

.card .links {
    width: calc(100% - 30px);
    padding-bottom: 10px;
    padding: 0px 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.card .links a {
    display: flex;
    padding: 5px;
    text-transform: lowercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    font-size: 20px;
}
.card .links a:visited {
    color: white;
    text-decoration: none;
}

.card .links a .name {
    text-decoration: underline;

}

.card .links a:hover {
    color: #EC407A;
}

.card .links a .material-icons {
    padding-right: 5px;
}

.status {
    display: inline-block;
    text-transform: lowercase;
    font-size: medium;
}

.status.in-progress::after{
    color: #EC407A;
    content: "in-progress";
}


@media only screen and (max-width : 1024px) {
    html, body {
        height: 100%;
    }

    .container {
        /* justify-content: start !important; */
    }

    .container.main {
        height: calc(100%);
    }

    .container.second {
        font-size: 1.3em;
    }

    .swiffy-slider {
        width: 100%;
    }

    .slider-container{
        /* overflow: visible !important; */
    }

    .container.second h1 {
        font-size: x-large;
    }

    .work{
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }

    .desktop{
        display: none;
    }

}

@media only screen  and (max-width: 1224px) {
    .work{
        margin-left: 0;
    }
}


@media only screen  and (min-width: 1824px) {
    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}
